# .env.example - Copy this to .env and update values

# Django Settings
SECRET_KEY=django-insecure-change-me-in-production
DEBUG=1
DJANGO_SETTINGS_MODULE=config.settings.dev

# Database
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=npg_f7XlIPZeWG1y
DB_HOST=ep-shiny-union-a1yt74qd-pooler.ap-southeast-1.aws.neon.tech
DB_PORT=5432
DATABASE_URL='postgresql://neondb_owner:npg_f7XlIPZeWG1y@ep-shiny-union-a1yt74qd-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
# Redis
REDIS_URL=redis://localhost:6379/0

# Celery
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
CELERY_ALWAYS_EAGER=False

# Email
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=noreply@saas-aice.com

# Frontend
FRONTEND_URL=http://localhost:3000

# Development
AUTO_CREATE_DEMO_TENANT=False